.infoPad {
    margin-bottom: 200px;
}

.infoPad__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 100px;
}

.infoPad__row:last-child {
    margin-bottom: 0;
}

.infoPad__row.infoPad__row_reversed {
    flex-direction: row-reverse;
}

.infoPad__row > * {
    flex-basis: 50%;
}

.infoPad__img img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.infoPad__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

.infoPad__title::after {
    display: block;
    content: "";
    margin: 26px 0 31px 0;
    width: 56px;
    height: 2px;
    background-color: #000;
}

.infoPad__text {
    color: #7D7987;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 50px 0;
}

.infoPad__btn {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    padding: 12px 50px;
    outline: none;
    border: 1px solid #458FF6;
    border-radius: 55px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: all .25s ease;
}

.infoPad__btn:hover {
    background-color: #458FF6;
    color: #fff;
}

.infoPad__btn > img {
    display: inline-block;
    width: 12px;
    height: 17px;
}
